
{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% block title %}SCALTI - RO {{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<!--<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>-->

<h1 id="site-name"><a href="{% url 'admin:index' %}"><img src="{% static "images/logo.jpg" %}" width="30" hegth="30"alt="Logo" /> <strong>SCALTI - RO</strong></a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
