{% load static from staticfiles %}

<header id="home" class="home">
    <div class="overlay-fluid-block">
        <div class="container text-center">
            <div class="row">
                <div class="home-wrapper">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">

                            <h1>SEJA BEM VINDO SCALTI - TCI</h1>
                            <p>Blue Lance transforms your company's data into rich visuals for you to collect and organize so you can focus on what matters to you. Stay in the know, spot trends as they happen, and push your business further.</p>

                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                    <div class="home-contact">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Entre com seu E-mail">
                                            <input type="submit" class="form-control" value="Use It Free">

                                        </div><!-- /input-group -->


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>			
    </div>
</header>